.genreFilter {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #fff;
  background-color: #2a2a3b;
  width: 130px;
  padding: 1rem;
  border-radius: 0 10px 10px 0;
}

.genreButtons {
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;

  max-height: 80vh;
  overflow-y: auto;
  padding-right: 4px; 
}

/* Scroll customizado */
.genreButtons::-webkit-scrollbar {
  width: 8px;
}
.genreButtons::-webkit-scrollbar-thumb {
  background-color: #666;
  border-radius: 10px;
}
.genreButtons::-webkit-scrollbar-track {
  background-color: #2a2a3b;
}

.checkboxLabel {
  padding: 0.5rem 1rem;
  border-radius: 8px;
  background-color: #2a2a3b;
  color: #ffffff;
  cursor: pointer;
  font-weight: 500;
  transition: 0.3s;
  user-select: none;
}

.checkboxLabel input {
  display: none;
}

.genreButton:hover {
  transform: scale(1.05);
}

.action {
  background-color: #ff4d4d;
}
.adventure {
  background-color: #4da6ff;
}
.horror {
  background-color: #7a00cc;
}
.rpg {
  background-color: #ff9900;
}
.racing {
  background-color: #00cc99;
}
.sports {
  background-color: #33cc33;
}
.platform {
  background-color: #ff66cc;
}
.puzzle {
  background-color: #ffff66;
  color: #333;
}
.simulation {
  background-color: #66ccff;
}
.strategy {
  background-color: #cc99ff;
}
.mmo {
  background-color: #ff9966;
}
.fps {
  background-color: #cc3333;
  color: #fff;
}
.fighting {
  background-color: #6600cc;
  color: #fff;
}
.stealth {
  background-color: #444444;
  color: #eee;
}
.sandbox {
  background-color: #ffaa00;
}
.survival {
  background-color: #228b22;
  color: #fff;
}
.music {
  background-color: #ff66ff;
}
.indie {
  background-color: #999999;
  color: #000;
}
